@import "@/assets/scss/_selfVariables"; // 自定義變數

h1 {
    margin-top: 20px;
    text-align: center;
}

.searchFilter {
    margin-top: 40px;
    > div {
        margin-top: 20px;
    }
    input[type="text"] {
        padding-left: 8px;
        outline: none;
        border: 1.3px solid #6c757d;
        border-radius: 4px;
        &:hover,
        &:focus,
        &:active {
            border-color: #007bff;
        }
    }
    .timeRange {
        @include layout-md {
            display: flex;
            align-items: center;
        }
    }
}

.allNews {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    h6 {
        margin-bottom: 2px;
    }
}

.singleNews {
    width: 100%;
    @include layout-lg {
        width: 48%;
    }
}

.pagination {
    @extend %allFlexCenter;
}

li.disabled {
    &:hover {
        cursor: not-allowed;
    }
}
